.hide{
    display: none;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
}

.btn{
    color: black;
    background: gainsboro;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 500;
}
.btn.more{
    background-color: royalblue;
    border-color: rgb(43, 61, 116);
    color: white;
}
.btn.stop{
    background-color: rosybrown;
    border-color: rgb(111, 79, 79);
    color: white;
}
.btn.alert{
    background-color: gold;
    border-color: rgb(111, 79, 79);
    color: black;
}

/* Card Colors */
[card-color="red"]{color:red}
[card-color="black"]{color:black}

/* CARDS */
.card{
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: antiquewhite;
    height: 90px;
    width: 60px;
    position: relative;
    margin-left: -3px;
    box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.card.back{
    background-image: url(card-back.svg);
    background-size: cover;
}
.card .value{
    font-size: 23px;
    position: absolute;
}
.card .value:first-of-type{
    top: 0px;
    left: 4px;
}
.card .value:last-of-type{
    bottom: 0px;
    right: 4px;
    transform: rotate(180deg);
}
.card .seed{
    font-size: 30px;
    position: absolute;
    top: calc(50% + 3px);
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HANDS */
.players-container{
    /* width: 100%; */
}
[class$="hand-container"]{
    /* max-width: 100%; */
}
[id$="-hand"]{
    max-width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
}