/* PRE FIELD */
#pre-field{
    text-align: center;
    
    h1{
        margin-bottom: 30px;
    }
}


/* FIELD */
#field{

    #player-actions, #field-actions{
        &.hide{display: none;}

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 220px;
        position: relative;
        margin:  20px auto 0 auto;
    }
    #field-actions{
        justify-content: center;
    }

    .players-container{

        [class*="hand-container"]{
            text-align: center;
            
            p{
                margin-top: 20px;
            }
        }

        .table-rules{
            margin: 22px 0 46px 0;
            opacity: 0.7;
            // filter: drop-shadow(-1px -1px 0px black);

            img{
                max-width: 260px;
            }
        }

    }
}

/* HANDS */
[id$="-hand"]{
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: auto;
    /* flex-wrap: wrap; */
}