/* HANDS */


/* .players-container{
    width: 100%;
} */


/* [class$="hand-container"]{
    max-width: 100%;
} */


[id$="-hand"]{
    max-width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
}